.cards {
/*     display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr)); */
    row-gap: 20px;
    justify-items: center;
    max-width: 100%;
    margin: 0 19px;
    padding-bottom: 48px;
    overflow: hidden;
}

.navigate-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.grid {
    margin-left: 30px;
}

.flex {
    margin-right: 30px;
}

.navigate-buttons__button {
    width: 220px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    transition: opacity .5s ease;
}

.navigate-buttons__button:hover {
    cursor: pointer;
    opacity: .2;
}

.card-flex {
    display: flex;
    width: 100%; 
    margin: 0 auto;
    justify-content: space-between;
    transform: translate(0);
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 20px;
    justify-items: center;
    max-width: 880px;
    margin: 0 19px;
    padding-bottom: 48px;
    column-gap: 20px;
    transition: transform 1s ease;
}

@media screen and (min-width: 500px) {
    .cards {
        column-gap: 17px;
    }
}

@media screen and (min-width: 768px) {
    .cards {
        padding-bottom: 67px;
    }
}

@media screen and (min-width: 900px) {
    .cards {
        margin: 0;
    }
    .card-container {
        display: flex;
        margin: 0;
    }
}