.card {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 900px) {
    .card {
        flex-shrink: 0;
        width: 280px;
    }
}

.slider-button-next {
    position: absolute;
    bottom: 141px;
    right: 0;
    width: 150px;
    height: 40px;
    background-color: white;
    z-index: 1111;
    transition: opacity .5s ease;
    border-radius: 15px;
}

.slider-button-next:hover {
    opacity: .2;
    cursor: pointer;
}

.slider-button-prev {
    position: absolute;
    bottom: 141px;
    left: 0;
    width: 150px;
    height: 40px;
    background-color: white;
    z-index: 1111;
    transition: opacity .5s ease;
    border-radius: 15px;
}

.slider-button-prev:hover {
    opacity: .2;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .slider-button-next {
        display: none;
    }
    .slider-button-prev {
        display: none;
    }
}
